#sangpum {
	width : 100%;
	margin : 30px 10%;
}

#sangpum span{
	display : block;
}

#sangpum  div{
	width : 14.5%;
	float :left;
	padding : 13px;
	border : 1px solid white;
	text-align: center;
}

#sangpum div:hover {
	border : 1px solid black;
}